<div class="animated fadeInRightBig">
  <mdb-card cascade="true" wider="true" reverse="true" class="my-4">
    <!--Card image-->
    <div class="view view-cascade overlay waves-light" mdbWavesEffect>
      <mdb-card-img src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg"></mdb-card-img>
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!--/Card image-->

    <!-- Card content -->
    <mdb-card-body cascade="true" class="text-center">

      <!--Title-->
      <mdb-card-title>
        <h4>
          <strong>凯悦天地</strong>
        </h4>
      </mdb-card-title>

      <h5 class="indigo-text">
        <strong>柏悦大酒店</strong>
      </h5>

      <mdb-card-text>
        作为凯悦的顶级奢华品牌，柏悦为每位宾客呈献独具匠心的定制设计、精致可口的美馔佳肴，周到细密的礼宾服务，以及先进的商务设施、配套齐全的会议及宴会场地，让宾客每次入住都是一场与众不同的个性化体验。
      </mdb-card-text>

      <!--Linkedin-->
      <a class="px-2 icons-sm li-ic">
        <mdb-icon fab icon="linkedin-in"></mdb-icon>
      </a>
      <!--Twitter-->
      <a class="px-2 icons-sm tw-ic">
        <mdb-icon fab icon="twitter"></mdb-icon>
      </a>
      <!--Dribbble-->
      <a class="px-2 icons-sm fb-ic">
        <mdb-icon fab icon="facebook-f"></mdb-icon>
      </a>
    </mdb-card-body>

  </mdb-card>
</div>
